.ce-paragraph {
    line-height: 1.6em;
    outline: none;
}
.ce-paragraph--right {
    text-align: right;
}
.ce-paragraph--center {
    text-align: center;
}
.ce-paragraph--left {
    text-align: left;
}
.ce-paragraph--justify {
    text-align: justify;
}

/**
 * Normally paragraph placeholder is shown only for the focused block (thanks to "data-placeholder-active").
 *
 * But there is a special case when the paragraph is the only block in the empty editor.
 * When editor autofocus=false, there will be no focus. We need to show the placeholder anyway.
 */
.ce-block:only-of-type .ce-paragraph[data-placeholder-active]:empty::before,
.ce-block:only-of-type .ce-paragraph[data-placeholder-active][data-empty="true"]::before {
  content: attr(data-placeholder-active);
}

.ce-paragraph p:first-of-type{
    margin-top: 0;
}

.ce-paragraph p:last-of-type{
    margin-bottom: 0;
}
